{% extends "webbanhang/base.html" %}
{% load static %}
{% block placeholder %}
<div class="col-md-12 bor">
                        <!--Banner -->


    <div class="banner">
        <div class="owl-carousel owl-theme">
            <div class='item'>
                <img src="{{ MEDIA_URL }}img/banners/banner1.png">
            </div>
            <div class='item'>
                <img src="{{ MEDIA_URL }}img/banners/banner2.png">
            </div>
            <div class='item'>
                <img src="{{ MEDIA_URL }}img/banners/banner3.png">
            </div>
            <div class='item'>
                <img src="{{ MEDIA_URL }}img/banners/banner4.png">
            </div>
            <div class='item'>
                <img src="{{ MEDIA_URL }}img/banners/banner5.png">
            </div>
            <div class='item'>
                <img src="{{ MEDIA_URL }}img/banners/banner6.png">
            </div>
            <div class='item'>
                <img src="{{ MEDIA_URL }}img/banners/banner7.png">
            </div>
            <div class='item'>
                <img src="{{ MEDIA_URL }}img/banners/banner8.png">
            </div>
            <div class='item'>
                <img src="{{ MEDIA_URL }}img/banners/banner9.png">
            </div>
        </div>
    </div>
    
    <div class="smallbanner" style="width: 100%;">
        <img src="{{ MEDIA_URL }}img/smallBanners/blackFriday.gif" style="width: 100%;">
    </div>

    <script  src="{% static 'webbanhang/frontend/js/trangchu.js' %}"></script>

    <script  src="{% static 'webbanhang/frontend/js/slick.min.js' %}"></script>

    <!--Danh mục -->

    <div class="companyMenu group flexContain">
         {% for item in list_category %}
            <button><a href="{% url 'webbanhang:list-product' item.id %}"><img src="{{ MEDIA_URL }}/{{ item.category_img }}"></a></button>
        {% endfor %}
    </div>

    <!--end Danh mục -->

    <section class="box-main1 clearfix">
        <a href="{% url 'webbanhang:product'%}?card=dienthoai" style="float: right; line-height: 50px">>>Xem tất cả</a>
        <h3 class="title-main tt" style=""><a href="javascript:void(0)"> Nổi bật </a> </h3>
        <div class="showitem">
          {% for item in list_product %}
             <div class="col-md-2dot4 item-product bor">
                <a href="{% url 'webbanhang:phone-detail' item.id %}">
                    <img src="media/{{item.product_img}}" class="" width="100%" height="250">
                    <label class="hot">
                      Hot!!!!
                    </label>
                </a>
                <div class="info-item">
                    <a href="{% url 'webbanhang:phone-detail' item.id %}">{{item.product_name}}</a>
                    <p>
                      {% if item.product_sale > 0 %}
                        <strike class="sale">{{item.formatPrice}} đ</strike>
                      {% endif %}
                      
                      <b class="price">{{item.formatSale}} đ</b>
                    </p> 

                    <div class="ratingresult">
                        <i class="fa fa-star{% if item.product_rate < 1 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 2 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 3 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 4 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 5 %}-o{%endif%}"></i>
                        <span> {{ item.product_cmt }} đánh giá </span>
                    </div>

                </div>
                <div class="hidenitem">
                    <p><a href="{% url 'webbanhang:phone-detail' item.id %}"><i class="fa fa-search"></i></a></p>
                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                    <p><a onclick="addCart({{ item.id }},1)"><i class="fa fa-shopping-basket"></i></a></p>
                </div>
            </div> 
          {% endfor %}
        </div>
    </section>

    <section class="box-main1 clearfix">
        <a href="{% url 'webbanhang:product'%}?card=new" style="float: right; line-height: 50px">>>Xem tất cả</a>
        <h3 class="title-main tt" style=""><a href="javascript:void(0)"> Sản phẩm mới </a> </h3>
        <div class="showitem">
          {% for item in list_product_n %}
             <div class="col-md-2dot4 item-product bor">
                <a href="{% url 'webbanhang:phone-detail' item.id %}">
                    <img src="media/{{item.product_img}}" class="" width="100%" height="250">
                    <label class="new">
                      New!!!!
                    </label>
                </a>
                <div class="info-item">
                    <a href="{% url 'webbanhang:phone-detail' item.id %}">{{item.product_name}}</a>
                    <p>
                      {% if item.product_sale > 0 %}
                        <strike class="sale">{{item.formatPrice}} đ</strike>
                      {% endif %}
                      
                      <b class="price">{{item.formatSale}} đ</b>
                    </p> 

                    <div class="ratingresult">
                        <i class="fa fa-star{% if item.product_rate < 1 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 2 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 3 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 4 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 5 %}-o{%endif%}"></i>
                        <span> {{ item.product_cmt }} đánh giá </span>
                    </div>

                </div>
                <div class="hidenitem">
                    <p><a href="{% url 'webbanhang:phone-detail' item.id %}"><i class="fa fa-search"></i></a></p>
                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                    <p><a onclick="addCart({{ item.id }},1)"><i class="fa fa-shopping-basket"></i></a></p>
                </div>
            </div> 
          {% endfor %}
        </div>
    </section>

    <section class="box-main1 clearfix">
        <a href="{% url 'webbanhang:product'%}?card=sale" style="float: right; line-height: 50px">>>Xem tất cả</a>
        <h3 class="title-main tt" style=""><a href="javascript:void(0)"> Siêu giảm giá </a> </h3>
        <div class="showitem">
          {% for item in list_product_s %}
             <div class="col-md-2dot4 item-product bor">
                <a href="{% url 'webbanhang:phone-detail' item.id %}">
                    <img src="media/{{item.product_img}}" class="" width="100%" height="250">
                    <label class="giamgia">
                      Sale!!!!
                    </label>
                </a>
                <div class="info-item">
                    <a href="{% url 'webbanhang:phone-detail' item.id %}">{{item.product_name}}</a>
                    <p>
                      {% if item.product_sale > 0 %}
                        <strike class="sale">{{item.formatPrice}} đ</strike>
                      {% endif %}
                      
                      <b class="price">{{item.formatSale}} đ</b>
                    </p> 

                    <div class="ratingresult">
                        <i class="fa fa-star{% if item.product_rate < 1 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 2 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 3 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 4 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 5 %}-o{%endif%}"></i>
                        <span> {{ item.product_cmt }} đánh giá </span>
                    </div>

                </div>
                <div class="hidenitem">
                    <p><a href="{% url 'webbanhang:phone-detail' item.id %}"><i class="fa fa-search"></i></a></p>
                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                    <p><a onclick="addCart({{ item.id }},1)"><i class="fa fa-shopping-basket"></i></a></p>
                </div>
            </div> 
          {% endfor %}
        </div>
    </section>

    <section class="box-main1 clearfix">
        <a href="{% url 'webbanhang:product'%}?card=cheap" style="float: right; line-height: 50px">>>Xem tất cả</a>
        <h3 class="title-main tt" style=""><a href="javascript:void(0)"> Giá rẻ online </a> </h3>
        <div class="showitem">
          {% for item in list_product_c %}
             <div class="col-md-2dot4 item-product bor">
                <a href="{% url 'webbanhang:phone-detail' item.id %}">
                    <img src="media/{{item.product_img}}" class="" width="100%" height="250">
                    <label class="giare">
                      Cheap!!!!
                    </label>
                </a>
                <div class="info-item">
                    <a href="{% url 'webbanhang:phone-detail' item.id %}">{{item.product_name}}</a>
                    <p>
                      {% if item.product_sale > 0 %}
                        <strike class="sale">{{item.formatPrice}} đ</strike>
                      {% endif %}
                      
                      <b class="price">{{item.formatSale}} đ</b>
                    </p>  

                    <div class="ratingresult">
                        <i class="fa fa-star{% if item.product_rate < 1 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 2 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 3 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 4 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 5 %}-o{%endif%}"></i>
                        <span> {{ item.product_cmt }} đánh giá </span>
                    </div>

                </div>
                <div class="hidenitem">
                    <p><a href="{% url 'webbanhang:phone-detail' item.id %}"><i class="fa fa-search"></i></a></p>
                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                    <p><a onclick="addCart({{ item.id }},1)"><i class="fa fa-shopping-basket"></i></a></p>
                </div>
            </div> 
          {% endfor %}
        </div>
    </section>

    <section class="box-main1 clearfix">
        <a href="{% url 'webbanhang:product'%}?card=phukien" style="float: right; line-height: 50px">>>Xem tất cả</a>
        <h3 class="title-main tt" style=""><a href="javascript:void(0)"> Phụ kiện kèm theo </a> </h3>
        <div class="showitem">
          {% for item in list_product_p %}
             <div class="col-md-2dot4 item-product bor">
                <a href="{% url 'webbanhang:phone-detail' item.id %}">
                    <img src="media/{{item.product_img}}" class="" width="100%" height="250">
                    <label class="phukien">
                      Phụ kiện
                    </label>
                </a>
                <div class="info-item">
                    <a href="{% url 'webbanhang:phone-detail' item.id %}">{{item.product_name}}</a>
                    <p>
                      {% if item.product_sale > 0 %}
                        <strike class="sale">{{item.formatPrice}} đ</strike>
                      {% endif %}
                      
                      <b class="price">{{item.formatSale}} đ</b>
                    </p> 

                    <div class="ratingresult">
                        <i class="fa fa-star{% if item.product_rate < 1 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 2 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 3 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 4 %}-o{%endif%}"></i>
                        <i class="fa fa-star{% if item.product_rate < 5 %}-o{%endif%}"></i>
                        <span> {{ item.product_cmt }} đánh giá </span>
                    </div>

                </div>
                <div class="hidenitem">
                    <p><a href="{% url 'webbanhang:phone-detail' item.id %}"><i class="fa fa-search"></i></a></p>
                    <p><a href=""><i class="fa fa-heart"></i></a></p>
                    <p><a onclick="addCart({{ item.id }},1)"><i class="fa fa-shopping-basket"></i></a></p>
                </div>
            </div> 
          {% endfor %}
        </div>
    </section>

</div>

{% endblock %}
